---
const today = new Date();
---

<footer class = "main copyright">
	<div>
					                <hr />

	                <a href="https://asereno.com/license.md">&copy; Copyright Alexander Sereno {today.getFullYear()}
					</a>
	
	</div>
</footer>
