---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<ul>
			<li class="movable asereno-site">
				<a href="/">Letters &darr;</a>
			</li>
			<li class="movable ironiq-site">
				<a href="https://asereno.com">About Me &rarr;</a>
			</li>
		</ul>

			</nav>
			         <div class="profile">
                <!-- <img src="images/portrait.png" alt="portrait" class="rounded" /> -->
                <h1>Alexander Sereno</h1>
            </div>
	<div></div>
</header>
